<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Web Calendar</title>
	</head>

	<body>
		<center>
			<%= @msg %></br>
			<%= @link %></br>
			<%= @calendar %></br>
		</center>
	</body>
</html>
